$mdc-theme-primary: #3F51B5; // Primary colour
$mdc-theme-secondary: #f44336; // Secondary colour
$mdc-theme-background: #5C6BC0; // Background colour
@import "@material/button/mdc-button"; // MDC button base styles
@import "@material/card/mdc-card"; // MDC card base styles
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500"); // Roboto font
@import "@material/typography/mdc-typography"; // MDC typography base styles
@import "@material/top-app-bar/mdc-top-app-bar"; // MDC top app bar base styles
@import "@material/drawer/mdc-drawer"; // MDC drawer base styles
@import "@material/list/mdc-list"; // MDC list base styles
@import "@material/select/mdc-select"; // MDC select base styles
@import "@material/layout-grid/mdc-layout-grid"; // MDC layout grid base styles

body {
    // Document body
    background: #5C6BC0;
    display: flex;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body > * {
    // All elements in body
    user-select: none;
}

#main-content {
    // Document main
    height: 100%;
    min-height: 80vh;
    min-width: 100vw;
    overflow: auto;
}

#mdc-drawer-app-content {
    // Content of app drawer
    flex: auto;
    overflow-x: hidden;
}

#content-grid {
    // The grid of cards
    margin: auto;
    max-width: 1250px;
}

.content-card .mdc-card__primary-action {
    // The main text area of a card
    padding: 1rem;
}

.content-card .mdc-card__primary-action .mdc-card__title {
    // The title area of a card
    margin: 0;
}

.content-card .mdc-card__actions .mdc-card__action-buttons .mdc-button {
    // The buttons inside of the cards
    @include mdc-button-ink-color(red);
    @include mdc-states(red);
}

#gravatar-icon {
    // The profile image
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 30px;
    z-index: 999;
}

.goog-te-banner-frame.skiptranslate {
    // Google Translate banner
    display: none !important;
}
@import 'node_modules/normalize.css/normalize.css'; // Normalise CSS - A CSS reset
