 {
   margin: 0;
   padding: 0;
 }

 html {
   background: url("../images/background.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .card-square.mdl-card, .card-square-ros-assistant.mdl-card{
   width: 320px;
   min-height: 150px;
 }

 .card-square>.mdl-card__title {
   color: #fff;
   background: url("") bottom right 15% no-repeat #5C6BC0;
 }

 .card-square-ros-assistant>.mdl-card__title {
   background: url("../images/assistant.png") center 15% no-repeat #BDBDBD;
 }

 .card-square-ros-skype>.mdl-card__title {
   background: url("../images/skype.jpg") center 15% no-repeat #BDBDBD;
 }
